<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <context-param>
        <param-name>stock</param-name>
        <param-value>/WEB-INF/stock.txt</param-value>
    </context-param>

    <listener>
        <listener-class>org.example.compras.mislisteners.InicializaStockListener</listener-class>
    </listener>

    <listener>
        <listener-class>org.example.compras.mislisteners.ResetProductAmountsListener</listener-class>
    </listener>

    <!-- Login Servlet -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>org.example.compras.misservlets.LoginServlet</servlet-class>
        <init-param>
            <param-name>Leandro</param-name>
            <param-value>BackInBlack1980</param-value>
        </init-param>
        <init-param>
            <param-name>Camila</param-name>
            <param-value>LetThereBeRock1977</param-value>
        </init-param>
        <init-param>
            <param-name>Diego</param-name>
            <param-value>Powerage1978</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <!-- Producto Servlet -->
    <servlet>
        <servlet-name>Producto</servlet-name>
        <servlet-class>org.example.compras.misservlets.ProductServlet</servlet-class>
        <init-param>
            <param-name>Chocolate</param-name>
            <param-value>3000</param-value>
        </init-param>
        <init-param>
            <param-name>Helado</param-name>
            <param-value>5000</param-value>
        </init-param>
        <init-param>
            <param-name>Chicle</param-name>
            <param-value>500</param-value>
        </init-param>
        <init-param>
            <param-name>Alfajor</param-name>
            <param-value>1500</param-value>
        </init-param>
        <init-param>
            <param-name>Galletitas</param-name>
            <param-value>850</param-value>
        </init-param>
        <init-param>
            <param-name>Caramelos</param-name>
            <param-value>50</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Producto</servlet-name>
        <url-pattern>/productos</url-pattern>
    </servlet-mapping>

    <!-- Facturar Servlet -->
    <servlet>
        <servlet-name>Facturar</servlet-name>
        <servlet-class>org.example.compras.misservlets.FacturarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Facturar</servlet-name>
        <url-pattern>/facturar</url-pattern>
    </servlet-mapping>

    <!-- Facturar Servlet -->
    <servlet>
        <servlet-name>TerminarSesion</servlet-name>
        <servlet-class>org.example.compras.misservlets.TerminarSesionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TerminarSesion</servlet-name>
        <url-pattern>/terminarSesion</url-pattern>
    </servlet-mapping>
</web-app>
